.list-item {
  background-color: #ccc;
  color: #000;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.checkbox {
  margin-right: 1em;
}

.strike-through {
  text-decoration: line-through;
}

.remove-button {
  position: absolute;
  margin-left: 1em;
  right: 1rem;
}
